@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.choose {
	margin: 40px auto 10px 0;
	width: 99%;
	height: 900px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	/* border: 1px solid rgb(38, 0, 255); */
}

.selection {
	width: 180px;
	height:400px;
	margin-top: 100px;

	font-family: 'Pacifico';

	display: flex;
	flex-direction: row;
	gap: 25px;

	/* border: 3px solid rgb(0, 0, 0); */
}

.parchemin {
	position: relative;
	z-index: 1;
}

.parchem2 {
	display: none;
}

.balanced {
	width: 150px;
	height: 400px;
}

.select_C {
	margin: 0 auto;
	font-size: 20px;
	position: relative;
	top: 70px;
	right: 150px;
	z-index: 2;
}


.select_C:hover {
	transform: scale(1.2);
	top: 110px;
}

.link {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	gap: 0;
}

.link div {
	width: fit-content;
	height: 20px;
}

.child {
	width: 60%;
	max-width: 700px;
	height: 700px;
	background-color: rgba(255, 255, 255, 0.541);
	border: 3px solid rgb(255, 255, 255);
	box-shadow: 0 0 30px rgb(0, 0, 0);
	border-radius: 30px;
	color: black;
}

@media screen and (max-width: 1000px) {
	.choose {
		display: flex;
		flex-direction: column;
		justify-content: baseline;
		gap: 50px;
	}

	.selection {
		height: 40px;
		width: 400px;
		margin: 0 auto;

		border-radius: 40px;

		flex-direction: row;
		justify-content: space-evenly;

		border: 0;
	}

	.parchemin {
		display: none;
	}

	.select_C {
		margin: 0 auto;
		font-size: 35px;

		text-decoration:underline;
		top: 0px;
		right: 0px;
	}

	.select_C:hover {
		top: 0px;
	}

	.link {
		display: flex;
		flex-direction: row;
	}

	.balanced {
		height: 40px;
		width: 400px;

		margin: auto;
	}

	.parchem2 {
		display: block;
		height: 100px;
		width: 100%;
		max-width: 700px;
		margin: auto;
		position: relative;
		z-index: 2;
	}

	.child {
		width: 85%;
		min-width: 500px;
		max-width: 600px;
		margin: 0 auto;
		height: 700px;
		position: relative;
		bottom: 75px;

		border: 0;
		border-top: 8px solid rgb(0, 0, 0);
		background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.753) 20%);

		color: black;
		border-radius: 0px;
		box-shadow: 0 0 0 black;
	}
}