@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Neucha&display=swap');

.title {
	font-size: 50px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: auto;
	margin-top: 20px;
	width: 100%;
	text-align: center;

	/* border: 1px solid green; */
}

.cont_oAc {
	width: 100%;
	height: fit-content;
	margin-top: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.oAc {
	width: 120px;
	min-width: fit-content;
	text-align: center;
	transition: 0.2s;
}

.Oauth {
	background-color: rgb(73, 190, 165);
	border: 2px solid rgb(58, 131, 95);
	width: 120px;
	min-width: fit-content;
	text-align: center;
	transition: 0.2s;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Oauth:hover {
	transform: scale(1.1);
}

.form form{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	gap: 50px;
	margin-top: 30px;

	font-size: 30px;
}

.inp {
	width: 70%;
	height: fit-content;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 2px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 3px solid rgb(255, 255, 255);
}

.input, .input:focus, .input:active {
	width: 450px;
	font-size: 20px;
	border: 0;
	background-color: rgba(245, 222, 179, 0);
	outline: none;
}

.sub {
	width: 250px;
	margin: auto;
	height: 50px;
	font-size: 30px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 3px;
	border: 0;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-right: 1px solid rgb(0, 0, 0);
	background-color: rgb(207, 66, 0);
	color: white;
	transition: 0.25s;
}

.sub:hover {
	transform: scale(1.2);
}

/* http://localhost:3000/dashboard?code=7b9ad620845a511d8eb93aaf3c576564835f276114c0273278b6d3a7d50f440f */