html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	color: white;
	background-image: url("../../public/Japan-Background-002-HQ.jpg");
	background-repeat: no-repeat;
	background-position: center -0%;
	background-size: cover;
}