body {
	color: white;
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url("../../public/Japan-Background-002-HQ.jpg");
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: center -0%;
	background-size: auto;
}

@media screen and (min-width: 2400px) {
	body {
		background-size: cover;
	}
}