@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.title {
	font-size: 50px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: auto;
	width: 100%;
	text-align: center;

	/* border: 1px solid green; */
}

.cont_oAc {
	width: 100%;
	height: fit-content;
	margin-top: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.oAc {
	width: 120px;
	min-width: fit-content;
	text-align: center;
	transition: 0.2s;
}

.Oauth {
	background-color: rgb(73, 190, 165);
	border: 2px solid rgb(58, 131, 95);
	width: 120px;
	min-width: fit-content;
	text-align: center;
	transition: 0.2s;
}

.Oauth:hover {
	transform: scale(1.1);
}

.form form{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	gap: 30px;
	margin-top: 30px;

	font-size: 30px;
}

.inp {
	width: 100%;
	height: fit-content;
	text-align: center;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.input {
	width: 200px;
	font-size: 20px;
}

.sub {
	width: 100px;
	margin: auto;
	height: 30px;
	font-size: 20px;
	border-radius: 20px;
	border: 0;
	border-bottom: 3px solid rgb(255, 112, 112);
	transition: 0.25s;
}

.sub:hover {
	transform: scale(1.2);
}